@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 1rem;
}

.ruleGroup {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding: 0.5rem;
}
.ruleGroup .ruleGroup-body {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.ruleGroup .ruleGroup-body:empty {
  display: none;
}
.ruleGroup .ruleGroup-header,
.ruleGroup .rule {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

[data-inlinecombinators='disabled'] .dndOver.rule,
[data-inlinecombinators='disabled'] .dndOver.ruleGroup-header {
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  border-bottom-color: rebeccapurple;
  padding-bottom: 0.5rem;
}

[data-inlinecombinators='enabled'] .dndOver.rule:last-child,
[data-inlinecombinators='enabled'] .dndOver.ruleGroup-header,
[data-inlinecombinators='enabled'] .dndOver.rule + .betweenRules,
[data-inlinecombinators='enabled'] .dndOver.betweenRules {
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  border-bottom-color: rebeccapurple;
  padding-bottom: 0.5rem;
}

.ruleGroup.dndDragging,
.rule.dndDragging {
  opacity: 0.5;
}
.ruleGroup .queryBuilder-dragHandle,
.rule .queryBuilder-dragHandle {
  cursor: move;
}

[data-dnd='disabled'] .queryBuilder-dragHandle {
  display: none;
}
